.vscode/

__pycache__

# Ignore the train, test1 and test2 subfolders, but not the files in the root
yolov5/datasets/*/
yolov5/inference/output/
yolov5/runs/
yolov5/weights/*

results.csv
notes.md
.env